.auth-container {
    min-height: 100vh;  /* Use viewport height instead of percentage */
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;  /* Horizontally center the register */
    align-items: center;  /* Vertically center the register */
    font-weight: normal;
    font-family: Impact, system-ui, Avenir, Arial, Helvetica, sans-serif, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Arial Narrow Bold', sans-serif;

    
  }

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px 3e4150 solid;
    width: 600px;
    padding: 40px;
    gap: 10px;
    border-radius: 50px;
    
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.auth-title{
    color: white;
    font-size:120px;
    font-weight: normal;
}
s
h4{
    font-weight: normal;

}

.submit{
    padding:10px;
    margin-bottom: 20px;
    background-color: #5043c1;
    color: white;
    border-radius: 10px;
    font-family: Impact, system-ui, Avenir, Arial, Helvetica, sans-serif, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size: 27px;
    width: 400px;
}

input {
    width: 260px;
    padding: 13px;
    border-radius: 10px;
    background-color: #151426;
    color: white !important;
        font-family: Impact, system-ui, Avenir, Arial, Helvetica, sans-serif, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Arial Narrow Bold', sans-serif;

}


.header-auth {

    display: flex;
    flex-direction: row;
    gap: 10px;
}

.brand-name{
    font-size: 30px;
    font-weight: normal;

}

.butt-auth{
    display: flex;
    flex-direction: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    width: 250px;
}


span{
    font-family: Impact, system-ui, Avenir, Arial, Helvetica, sans-serif, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size: 14px;

}

.sender{
    color:white;
    text-decoration: none;
    font-size: 17px;;
}

.sender:hover{
    text-decoration: underline;
}


@media screen and (max-width: 1440px){

    .auth-title{
        font-size:300px;
    }

    

}