html, body {
    height: 100%;  /* Ensure body and html take full height */
    margin: 0;  /* Remove default margin */
    display: flex;
    justify-content: center;  /* Horizontally center the register */
    align-items: center;  /* Vertically center the register */
    font-weight: normal;
  }

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151426;
    border: 3px 3e4150 solid;
    width: 650px;
    padding: 60px;
    border-radius: 50px;


    
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h4{
    font-weight: normal;

}

button{
    padding:10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #b835ab;
    
}

input {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
}